h1  {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

p {
  font-size: 1em;
}

.w-60 {
  width: 60%;
}

.media-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-item {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-item.active {
  display: flex;
}

.carousel-item.active > .item-description {
  margin-top: 20px;
}

.carousel-indicators {
  margin-top: 0px;
  position: relative;
}

.carousel-indicators li {
  background: #343a40;
  margin-top: 10px;
}

.carousel-indicators li.active {
  background: #ffc107;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: no-repeat;
}

.carousel-control-prev-icon {
  background-image: url(./public/images/arrow-left.png);
}

.carousel-control-next-icon {
  background-image: url(./public/images/arrow-right.png);
}

.list-group-horizontal {
  width: 100%;
}

.list-group-horizontal .list-group-item {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  color: #343a40;
  font-weight: 600;
}

.list-group-horizontal .list-group-item.active {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
  text-decoration: none;
}