h1  {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

p {
  font-size: 1.2em;
}

.w-60 {
  width: 60%;
}

.media-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-item {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-item.active {
  display: flex;
}

.carousel-item.active > .item-description {
  margin-top: 20px;
}

.carousel-indicators {
  margin-top: 0px;
  position: relative;
}

.carousel-indicators li {
  background: #343a40;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
}

.list-group-item {
  font-size:.9em;
  padding: .75rem .8rem;
}